src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="1bfc450c-79f4-4df7-9512-e8bc3d758275" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="b2e823a5-6edb-4380-b391-ba775030aacc" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Started register covid case flow", payload: #[payload]'/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="8f2025c0-555a-4899-bee8-43d3e895f8ef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String{
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: now() as String{
		format: "yyyy-MM-dd"
	},
	update_date: now() as String{
		format: "yyyy-MM-dd"
	},
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insert-covid-case-sub-flow" doc:id="da7f923a-9ba0-4837-966b-f65f63f7d470" name="insert-covid-case-sub-flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: "672322"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
	</mule>
